/* line 1, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
html {
  scroll-behavior: smooth;
}

/* line 4, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 16px "Georgia" sans-serif;
  font-weight: regular;
}

/* line 11, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 14, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 18, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
p {
  margin: 0;
}

@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/arial/arial-regular.ttf");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/arial/arial-italic.ttf");
  font-weight: italic;
  font-style: italic;
}

@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia/georgia-regular.ttf");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia/georgia-bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia/georgia-italic.ttf");
  font-weight: italic;
  font-style: italic;
}

@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia/georgia-bold-italic.ttf");
  font-weight: 600;
  font-style: italic;
}

/* line 72, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.wrapper {
  position: relative;
  height: 100%;
  margin: 0 auto;
}

/* line 77, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  height: 60px;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

/* line 88, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header__logo {
  text-decoration: none;
}

/* line 90, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header__logo_title {
  display: block;
  font-family: Georgia;
  font-weight: 400;
  font-size: 32px;
  line-height: 35.2px;
  letter-spacing: 1.8px;
  color: #f1cdb3;
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 100, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header__logo_subtitle {
  display: block;
  font-family: Arial;
  font-weight: 400;
  font-size: 13px;
  line-height: 14.95px;
  letter-spacing: 1.3px;
  color: #ffffff;
  margin: 0;
  margin-left: 4px;
}

/* line 110, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header__nav {
  display: flex;
  align-items: center;
}

/* line 115, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.nav-menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 443px;
  padding: 0;
  padding-bottom: 4px;
}

/* line 122, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.nav-menu__list-item {
  font-size: 18px;
  list-style: none;
}

/* line 125, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.nav-menu__item {
  font-family: Arial;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #cdcdcd;
  text-decoration: none;
}

/* line 132, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.nav-menu__item:hover {
  color: #fafafa;
  transition: all 0.3s;
}

/* line 135, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.nav-menu__active {
  padding-bottom: 4px;
  border-bottom: 3px #f1cdb3 solid;
  color: #fafafa;
}

/* line 140, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.start-screen {
  width: 100%;
  background: url(../assets/images/noise_transparent@2x.png), radial-gradient(237.5% 111.8% at 0% 0%, #5b483a 0%, #262425 100%);
}

/* line 143, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.start-screen__container {
  position: relative;
  height: 100%;
  padding: 0;
}

/* line 148, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.container {
  width: 94%;
  max-width: 1200px;
  margin: 0 auto;
}

/* line 153, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-first {
  padding-top: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* line 159, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-first__info {
  width: 38.4%;
  padding-bottom: 78px;
  height: 322px;
}

/* line 163, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-first__info_title {
  width: 310px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
}

/* line 171, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-first__info_subtitle {
  font-family: Arial;
  font-weight: italic;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  margin: 42px 0;
}

/* line 178, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-first__info_button {
  width: 100%;
  max-width: 207px;
}

/* line 181, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-first__puppy {
  width: 60%;
  max-width: 698px;
  display: flex;
}

/* line 185, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-first__puppy_photo {
  width: 100%;
  max-width: 698px;
  height: 100%;
  max-height: 728px;
}

/* line 191, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 207px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  white-space: nowrap;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #292929;
}

/* line 209, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.btn:hover {
  background: #fddcc4;
  transition: all 0.5s;
}

/* line 213, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1280px;
  min-height: 588px;
  background: #ffffff;
}

/* line 220, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.about__container {
  display: flex;
  align-items: center;
  width: 1200px;
  padding-bottom: 20px;
}

/* line 226, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-second {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* line 231, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-second__picture {
  width: 420px;
  height: 408px;
}

/* line 234, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-second__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  height: 380px;
}

/* line 240, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-second__description_title {
  width: 370px;
}

/* line 242, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-second__description_text {
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

/* line 249, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-second__description_subtitle {
  font-family: Arial;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

/* line 256, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pets {
  display: flex;
  justify-content: center;
  min-width: 1280px;
  min-height: 877px;
  background: #f6f6f6;
}

/* line 262, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pets__container {
  display: flex;
  justify-content: center;
}

/* line 266, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-third {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 697px;
  padding: 80px 40px 100px;
}

/* line 274, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-third__description {
  width: 400px;
  height: 90px;
}

/* line 277, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-third__description_text {
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  margin: 0;
}

/* line 286, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-third__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}

/* line 291, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-third__content_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
}

/* line 297, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-third__slider {
  display: flex;
  justify-content: space-between;
  width: 990px;
}

/* line 301, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-third__slider_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
  border-radius: 9px;
  width: 270px;
  height: 435px;
}

/* line 309, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-third__slider_card:hover {
  background: #ffffff;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  transition: all 0.5s;
}

/* line 313, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-third__slider_card:hover .pet__button-container_item {
  border: #ffffff;
  background: #fddcc4;
  transition: all 0.5s;
}

/* line 317, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-third__button-container_item {
  width: 260px;
}

/* line 321, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pet_image {
  margin-bottom: 30px;
}

/* line 323, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pet_name {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  margin: 0;
  margin-bottom: 31px;
}

/* line 333, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pet__button-container_item {
  box-sizing: border-box;
  width: 187px;
  border: 2px solid #f1cdb3;
  background: #ffffff;
  margin-bottom: 30px;
}

/* line 341, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.arrow__left {
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  transition: all 0.3s;
}

/* line 353, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.arrow__left:hover {
  border: 2px solid #fddcc4;
  background: #fddcc4;
}

/* line 356, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.arrow__right {
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  transition: all 0.5s;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  transition: all 0.3s;
}

/* line 371, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.arrow__right:hover {
  border: 2px solid #fddcc4;
  background: #fddcc4;
}

/* line 375, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.help {
  display: flex;
  justify-content: center;
  min-width: 1280px;
  min-height: 610px;
  background: #ffffff;
}

/* line 381, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.help__container {
  display: flex;
  align-items: center;
  width: 1200px;
  padding-bottom: 20px;
}

/* line 387, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-fourth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 431px;
}

/* line 394, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-fourth__description {
  width: 310px;
  height: 90px;
}

/* line 397, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-fourth__description_text {
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  margin: 0;
}

/* line 406, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-fourth__list-container {
  display: flex;
  width: 1026px;
  height: 281px;
}

/* line 412, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.helper__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px 119px;
  padding: 0;
  margin: 0;
}

/* line 419, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.helper__list-item {
  font-size: 18px;
  list-style: none;
}

/* line 422, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.helper__list-item_name {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  margin: 0;
}

/* line 431, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.helper__list-item_icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/* line 436, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.helper__list-item:nth-child(6) {
  margin-left: 84px;
}

/* line 438, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.helper__list-item:nth-child(9) {
  margin-right: 84px;
}

/* line 441, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.donation {
  display: flex;
  justify-content: center;
  min-width: 1280px;
  min-height: 463px;
  background: #f6f6f6;
}

/* line 447, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.donation__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  padding-bottom: 18px;
}

/* line 454, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-fifth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 914px;
  height: 282px;
}

/* line 460, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-fifth__puppy {
  width: 505px;
  height: 261px;
}

/* line 463, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-fifth__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 380px;
  height: 282px;
}

/* line 469, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-fifth__content_heading {
  width: 300px;
}

/* line 471, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-fifth__content_info {
  font-family: Arial;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #B2B2B2;
}

/* line 480, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.text_head {
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

/* line 487, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.text_subhead {
  font-family: Georgia;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

/* line 495, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.credit-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  width: 349px;
  height: 43px;
  background: #f1cdb3;
  text-decoration: none;
}

/* line 504, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.credit-card:hover {
  background: #fddcc4;
  transition: all 0.5s;
}

/* line 507, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.credit-card__content {
  display: flex;
  justify-content: space-between;
  width: 319px;
  height: 23px;
}

/* line 513, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.credit-card__content_number {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

/* line 521, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.footer {
  display: flex;
  justify-content: center;
  min-width: 1280px;
  min-height: 350px;
  background: url(../assets/images/noise_transparent@2x.png), radial-gradient(237.5% 111.8% at 0% 0%, #5b483a 0%, #262425 100%);
}

/* line 527, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.footer__container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 1200px;
}

/* line 533, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 310px;
}

/* line 538, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 279px;
  height: 237px;
  margin-top: 17px;
}

/* line 545, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-footer__location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 17px;
  width: 302px;
  height: 237px;
}

/* line 552, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-footer__image {
  width: 300px;
  height: 310px;
}

/* line 556, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.footer-heading_text {
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* line 564, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.email__content {
  display: flex;
  text-decoration: none;
  transition: all 0.3s;
}

/* line 568, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.email__content_icon {
  margin-right: 20px;
}

/* line 570, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.email__content_text {
  display: flex;
  align-items: center;
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

/* line 579, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.email__content:hover {
  color: #fddcc4;
}

/* line 582, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.tel__content {
  display: flex;
  text-decoration: none;
  transition: all 0.3s;
}

/* line 586, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.tel__content_icon {
  margin-right: 20px;
}

/* line 588, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.tel__content_text {
  display: flex;
  align-items: center;
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

/* line 597, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.tel__content:hover {
  color: #fddcc4;
}

/* line 600, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.place__content {
  display: flex;
  text-decoration: none;
  transition: all 0.3s;
}

/* line 604, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.place__content_icon {
  padding-top: 5px;
  margin-right: 20px;
}

/* line 607, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.place__content_text {
  display: flex;
  align-items: center;
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

/* line 616, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.place__content:hover {
  color: #fddcc4;
}

/* line 621, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.wrapper-pets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1812px;
}

/* line 627, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header-our-pets {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1280px;
  min-height: 120px;
  background-color: #ffffff;
}

/* line 634, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header-our-pets__container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 1200px;
  height: 60px;
}

/* line 640, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header-our-pets__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 60px;
}

/* line 646, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header-our-pets__logo {
  text-decoration: none;
}

/* line 648, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header-our-pets__logo_title {
  display: block;
  font-family: Georgia;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 658, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header-our-pets__logo_subtitle {
  display: block;
  font-family: Arial;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #292929;
  margin: 0;
  margin-left: 4px;
}

/* line 667, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header-our-pets__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 443px;
  height: 27px;
}

/* line 676, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.our-pets-nav__item {
  color: #545454;
}

/* line 678, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.our-pets-nav__item:hover {
  color: #292929;
  transition: all 0.3s;
}

/* line 681, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.our-pets-nav__active {
  padding-bottom: 4px;
  border-bottom: 3px #f1cdb3 solid;
  color: #292929;
}

/* line 686, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.page-pets {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1280px;
  min-height: 1342px;
  background-color: #f6f6f6;
}

/* line 693, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.page-pets__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 1162px;
  padding-bottom: 20px;
}

/* line 700, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.page-pets__cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  height: 930px;
}

/* line 706, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.page-pets__cards-container_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
  border-radius: 9px;
  width: 270px;
  height: 435px;
}

/* line 714, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.page-pets__cards-container_card:hover {
  background: #ffffff;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  transition: all 0.5s;
}

/* line 718, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.page-pets__cards-container_card:hover .pet__button-container_item {
  border: #ffffff;
  background: #fddcc4;
  transition: all 0.5s;
}

/* line 722, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.page-pets__button-container_item {
  width: 260px;
}

/* line 724, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.page-pets__container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
  height: 52px;
}

/* line 731, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.contant-page-pets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 1162px;
}

/* line 738, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.contant-page-pets__heading {
  width: 400px;
  height: 90px;
}

/* line 741, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.contant-page-pets__text {
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

/* line 771, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pagination__disable {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: 2px solid #cdcdcd;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  border: 2px solid #cdcdcd;
  cursor: not-allowed;
  color: #cdcdcd;
}

/* line 777, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pagination__current-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: 2px solid #cdcdcd;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  border: 2px solid #fddcc4;
  background: #fddcc4;
  cursor: default;
  color: #292929;
}

/* line 784, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pagination__able {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: 2px solid #cdcdcd;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  border: 2px solid #f1cdb3;
  cursor: pointer;
  color: #292929;
}

/* line 790, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pagination__able:hover {
  border: 2px solid #fddcc4;
  background: #fddcc4;
}

@media (max-width: 1279px) {
  /* line 796, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
  .header {
    width: 92%;
  }
}

@media (max-width: 1218px) {
  /* line 800, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
  .content-first {
    justify-content: center;
  }
}

@media (max-width: 900px) {
  /* line 804, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
  .content-first {
    flex-direction: column;
    padding-top: 150px;
  }
  /* line 807, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
  .content-first__info {
    width: 65%;
  }
  /* line 809, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
  .content-first__info_button {
    margin: 0 auto;
  }
  /* line 811, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
  .content-first__puppy {
    margin-top: 100px;
    align-self: flex-end;
    width: 80.3%;
  }
}

@media (max-width: 767px) {
  /* line 817, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
  .container {
    max-width: 708px;
  }
  /* line 819, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
  .container__info {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */