/* line 1, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
html {
  scroll-behavior: smooth;
}

/* line 5, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia";
  font-weight: regular;
}

/* line 13, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 16, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
p {
  margin: 0;
}

@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/arial/arial-regular.ttf");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/arial/arial-italic.ttf");
  font-weight: italic;
  font-style: italic;
}

@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia/georgia-regular.ttf");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia/georgia-bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia/georgia-italic.ttf");
  font-weight: italic;
  font-style: italic;
}

@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia/georgia-bold-italic.ttf");
  font-weight: 600;
  font-style: italic;
}

/* line 70, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.wrapper {
  position: relative;
  height: 3800px;
  margin: 0 auto;
}

/* line 75, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header {
  position: absolute;
  width: 1200px;
  height: 60px;
  top: 30px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* line 84, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header__container {
  display: flex;
  justify-content: space-between;
}

/* line 87, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header__logo {
  text-decoration: none;
}

/* line 89, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header__logo_title {
  display: block;
  font-family: Georgia;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 99, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header__logo_subtitle {
  display: block;
  font-family: Arial;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin: 0;
}

/* line 107, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header__nav {
  width: 443px;
}

/* line 111, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.nav-menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

/* line 116, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.nav-menu__list-item {
  font-size: 18px;
  list-style: none;
}

/* line 119, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.nav-menu__list-item a {
  font-family: Arial;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  text-decoration: none;
}

/* line 126, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.nav-menu__list-item a:hover {
  color: #fafafa;
  transition: all 0.3s;
}

/* line 129, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.nav-menu__list-item a:active {
  color: #fafafa;
  border-bottom: 3px #f1cdb3 solid;
  transition: all 0.2s;
}

/* line 134, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.start-screen {
  display: flex;
  justify-content: center;
  min-width: 1280px;
  min-height: 910px;
  background: url(../assets/images/noise_transparent@2x.png), radial-gradient(237.5% 111.8% at 0% 0%, #5b483a 0%, #262425 100%);
}

/* line 140, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.start-screen__container {
  padding: 180px 40px 0;
}

/* line 143, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-first {
  position: relative;
  width: 1200px;
  height: 728px;
}

/* line 147, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-first__description {
  position: absolute;
  width: 460px;
  margin-top: 163px;
}

/* line 151, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-first__description_heading {
  margin-bottom: 42px;
}

/* line 153, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-first__description_text {
  font-family: Arial;
  font-weight: italic;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  margin-bottom: 42px;
}

/* line 160, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-first__puppy {
  position: absolute;
  width: 698px;
  height: 728px;
  right: 0;
  top: 2px;
}

/* line 166, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-first__puppy_photo {
  width: 698px;
  height: 728px;
}

/* line 170, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.head_main {
  font-family: Georgia;
  font-style: 800;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
}

/* line 177, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 207px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
  border: none;
  padding: 15px 45px;
  cursor: pointer;
}

/* line 188, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.btn__link {
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  white-space: nowrap;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #292929;
}

/* line 197, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.btn:hover {
  background: #fddcc4;
  transition: all 0.3s;
}

/* line 201, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1280px;
  min-height: 588px;
  background: #ffffff;
}

/* line 208, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.about__container {
  display: flex;
  align-items: center;
  width: 1200px;
}

/* line 213, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-second {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

/* line 218, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-second__picture {
  width: 300px;
  height: 408px;
}

/* line 221, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-second__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  height: 380px;
}

/* line 227, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-second__description_heading {
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

/* line 234, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-second__description_text-1 {
  font-family: Arial;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

/* line 241, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pets {
  display: flex;
  justify-content: center;
  min-width: 1280px;
  min-height: 877px;
  background: #f6f6f6;
}

/* line 247, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pets__container {
  display: flex;
  justify-content: center;
}

/* line 251, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-third {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 700px;
  padding: 80px 40px 100px;
}

/* line 259, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-third__description {
  width: 400px;
  height: 90px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

/* line 269, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-third__description_item {
  margin: 0;
}

/* line 271, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-third__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}

/* line 276, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-third__slider {
  display: flex;
  justify-content: space-between;
  width: 990px;
}

/* line 280, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-third__slider_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
  border-radius: 9px;
  width: 270px;
  height: 435px;
}

/* line 288, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-third__slider_card:hover {
  background: #ffffff;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  transition: all 0.3s;
}

/* line 292, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-third__button_pet {
  width: 260px;
}

/* line 296, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pet_image {
  margin-bottom: 30px;
}

/* line 298, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pet_name {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  margin: 0;
  margin-bottom: 30px;
}

/* line 307, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pet_button {
  border: 2px solid;
  color: #f1cdb3;
  background: #ffffff;
  margin-bottom: 30px;
  cursor: pointer;
}

/* line 313, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pet_button:hover {
  border: none;
  background: color-primary-light;
}

/* line 318, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.arrow-left svg {
  cursor: pointer;
}

/* line 320, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.arrow-left svg:hover {
  fill: #fddcc4;
}

/* line 323, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.arrow-right svg {
  cursor: pointer;
}

/* line 325, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.arrow-right svg:hover {
  fill: #fddcc4;
}

/* line 328, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.help {
  display: flex;
  justify-content: center;
  min-width: 1280px;
  min-height: 610px;
  background: #ffffff;
}

/* line 334, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.help__container {
  display: flex;
  justify-content: center;
}

/* line 338, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-fourth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 430px;
  padding: 80px 40px 100px;
}

/* line 346, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-fourth__description {
  width: 310px;
  height: 90px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

/* line 356, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-fourth__description_item {
  margin: 0;
}

/* line 358, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-fourth__list-container {
  display: flex;
  width: 1030px;
  height: 290px;
}

/* line 364, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.helper__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 55px 120px;
  padding: 0;
  margin: 0;
}

/* line 372, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.helper__list-item {
  font-size: 18px;
  list-style: none;
}

/* line 375, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.helper__list-item_name {
  margin: 0;
  text-align: center;
}

/* line 378, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.helper__list-item_icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/* line 383, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.helper__list-item:nth-child(6) {
  margin-left: 84px;
}

/* line 385, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.helper__list-item:nth-child(9) {
  margin-right: 84px;
}

/* line 388, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.donation {
  display: flex;
  justify-content: center;
  min-width: 1280px;
  min-height: 462px;
  background: #f6f6f6;
}

/* line 394, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.donation__container {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 100px;
}

/* line 400, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-fifth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 915px;
  height: 282px;
}

/* line 406, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-fifth__puppy {
  width: 505px;
  height: 261px;
}

/* line 409, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-fifth__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 380px;
  height: 282px;
}

/* line 415, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-fifth__content_heading {
  width: 300px;
}

/* line 417, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-fifth__content_info {
  font-family: Arial;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #B2B2B2;
}

/* line 426, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.text_head {
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

/* line 433, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.text_subhead {
  font-family: Georgia;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

/* line 441, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.credit-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  width: 349px;
  height: 43px;
  background: #f1cdb3;
}

/* line 449, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.credit-card__content {
  display: flex;
  justify-content: space-between;
  width: 319px;
  height: 23px;
}

/* line 455, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.credit-card__content_number {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

/* line 463, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.footer {
  display: flex;
  justify-content: center;
  min-width: 1280px;
  min-height: 350px;
  background: url(../assets/images/noise_transparent@2x.png), radial-gradient(237.5% 111.8% at 0% 0%, #5b483a 0%, #262425 100%);
}

/* line 469, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.footer__container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 1200px;
}

/* line 475, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

/* line 479, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 278px;
  height: 234px;
  margin-top: 16px;
}

/* line 486, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-footer__location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 16px;
  width: 302px;
  height: 234px;
}

/* line 493, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.content-footer__image {
  width: 300px;
  height: 310px;
}

/* line 497, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.footer-heading_text {
  font-family: Georgia;
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* line 505, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.email__content {
  display: flex;
}

/* line 507, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.email__content_icon {
  margin-right: 20px;
}

/* line 509, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.email__content_text {
  display: flex;
  align-items: center;
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

/* line 519, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.tel__content {
  display: flex;
}

/* line 521, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.tel__content_icon {
  margin-right: 20px;
}

/* line 523, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.tel__content_text {
  display: flex;
  align-items: center;
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

/* line 533, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.place__content {
  display: flex;
}

/* line 535, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.place__content_icon {
  margin-right: 20px;
}

/* line 537, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.place__content_text {
  display: flex;
  align-items: center;
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

/* line 549, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.wrapper-pets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1812px;
}

/* line 555, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header-our-pets {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1280px;
  min-height: 120px;
  background-color: #ffffff;
}

/* line 562, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header-our-pets__container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 1200px;
  height: 60px;
}

/* line 568, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header-our-pets__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 60px;
}

/* line 574, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header-our-pets__logo {
  text-decoration: none;
}

/* line 576, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header-our-pets__logo_title {
  display: block;
  font-family: Georgia;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 586, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header-our-pets__logo_subtitle {
  display: block;
  font-family: Arial;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #292929;
  margin: 0;
}

/* line 594, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.header-our-pets__nav {
  width: 443px;
}

/* line 597, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.our-pets__nav_list-item a {
  color: #545454;
}

/* line 599, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.our-pets__nav_list-item a:hover {
  color: #292929;
}

/* line 601, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.our-pets__nav_list-item a:active {
  color: #545454;
}

/* line 604, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.page-pets {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1280px;
  min-height: 1342px;
  background-color: #f6f6f6;
}

/* line 611, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.page-pets__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1200px;
  height: 1162px;
}

/* line 618, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.contant-page-pets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 1162px;
}

/* line 625, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.contant-page-pets__heading {
  width: 400px;
  height: 90px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

/* line 635, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.contant-page-pets__heading_item {
  margin: 0;
}

/* line 639, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.page-pets__cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  height: 930px;
}

/* line 645, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.page-pets__cards-container_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
  border-radius: 9px;
  width: 270px;
  height: 435px;
}

/* line 653, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.page-pets__cards-container_card:hover {
  background: #ffffff;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  transition: all 0.3s;
}

/* line 658, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
  height: 52px;
}

/* line 664, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pagination__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
}

/* line 692, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pagination-btn__begining {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #cdcdcd;
  border-radius: 100px;
  padding: 14px 21px;
  width: 52px;
  height: 52px;
  text-decoration: none;
}

/* line 694, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pagination-btn__begining_link {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  color: #cdcdcd;
}

/* line 698, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pagination-btn__last {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #cdcdcd;
  border-radius: 100px;
  padding: 14px 21px;
  width: 52px;
  height: 52px;
  text-decoration: none;
}

/* line 700, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pagination-btn__last_link {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  color: #cdcdcd;
}

/* line 704, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pagination-btn__current {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #cdcdcd;
  border-radius: 100px;
  padding: 14px 21px;
  width: 52px;
  height: 52px;
  text-decoration: none;
}

/* line 706, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pagination-btn__current:hover {
  background: #f1cdb3;
}

/* line 708, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pagination-btn__current_link {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  color: #292929;
}

/* line 712, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pagination-btn__next {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #cdcdcd;
  border-radius: 100px;
  padding: 14px 21px;
  width: 52px;
  height: 52px;
  text-decoration: none;
}

/* line 714, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pagination-btn__next_link {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  color: #292929;
}

/* line 718, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pagination-btn__end {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #cdcdcd;
  border-radius: 100px;
  padding: 14px 21px;
  width: 52px;
  height: 52px;
  text-decoration: none;
}

/* line 720, ../../../Projects_JS_Learning/The rolling scopes/stage_0/shelter/evgenkham-JSFEPRESCHOOL2024Q2/shelter/sass/style.sass */
.pagination-btn__end_link {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  color: #292929;
}

/*# sourceMappingURL=style.css.map */